*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'Handmade Signature' ;
    src: url(../../Fonts/Handmade\ Signature.otf);
    font-style: normal;
    font-weight: 900;
}

.contenedorHeader{
    width: 90vw;
    max-width: 1500px;

    margin:auto;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr) 1fr;
    grid-template-areas:    "titulo     titulo      titulo      search";
}

.tituloHeader{
    font-family:'Handmade Signature';
    font-size: calc(4vw + 2vh);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: titulo;
}
.searchHeader{
    grid-area: search;
}

form{
    display: flex;
    align-items: center;
}

.contenedorSecciones{
    width: 90vw;
    height: 90vw;
    max-width: 1500px;

    margin:auto;
    text-align: center;
    border: red solid 3px;

    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:    "sec-1      sec-2       taskbar"
                            "sec-3      sec-4       taskbar"
                            "ult-sec    ult-sec     ult-sec";
    grid-gap:1em;
}

.card,.lateralTaskbar, .ultimoAcceso{
    display: block;
    padding: 5px;

    min-height: 50px;
    max-height: 100%;
    min-width: 50px;
    max-width: 100%;

    border-radius: 10px;
    background: #2f89fc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}
.card-1{
    grid-area: sec-1;
}
.card-2{
    grid-area: sec-2;
}
.card-3{
    grid-area: sec-3;
}
.card-4{
    grid-area: sec-4;
}

.lateralTaskbar{
    grid-area: taskbar;
}

.ultimoAcceso{
    grid-area: ult-sec;
}